<html>
  <body>
<% if (googleScript && googleClientId && googleLoginURI) { %>
    <script src="<%- googleScript %>" async></script>
    <div id="g_id_onload"
        data-client_id="<%- googleClientId %>"
        data-login_uri="<%- googleLoginURI %>"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
<% } %>
  <body>
</html>
