<html>
  <body>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <div id="g_id_onload"
        data-client_id="118095101781-8qj8o9u54p6f2poppmplfe51nnbcan1v.apps.googleusercontent.com"
        data-login_uri="https://barkmesh.zapto.org:8080/table/<%= table %>"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
  <body>
</html>
