html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: teal;
}
input[type="submit"] {
    background-color: peachpuff;
}
input[type="text"] {
    background-color: peachpuff;
}
input[type="file"]::file-selector-button {
    background-color: peachpuff;
}
.image {
    padding: 10px;
    display: block;
    margin: 10px auto;
    max-height: 80%;
    max-width: 80%;
}
.video {
    flex: 1 1 auto;
    padding: 10px;
    display: block;
    margin: 10px auto;
    min-width: min-content; 
    box-sizing: border-box;
}
#templates {
    display: none;
}
.div-button {
    max-width: 75px;
}
.div-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
.hidden {
    display: none;
}

.logo {
    mix-blend-mode: multiply;
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0;
}
.comment {
    outline: 2px groove blue;
    outline-offset: 5px;
    margin-left: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
