html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
img {
    padding: 10px;
    display: block;
    margin: 10px auto;
    max-height: 80%;
    max-width: 80%;
}
video {
    padding: 10px;
    display: block;
    margin: 10px auto;
    max-height: 80%;
    max-width: 80%;
}
#templates {
    display: none;
}
.div-button {
    max-width: 10%;
    max-height: 10%;
}
.div-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
.hidden {
    display: none;
}
